a {
  text-decoration-line: none;
  color: #FFFFFF;
}

body {
  background-color: #0B1D26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ChronicleDisplaySemibold";
  color: #FFFFFF;
  min-width: 1920px;
}

body > div {
  z-index: -1;
  width: 1920px;
  background-color: #0B1D26;
}

.rectangle {
  display: inline-block;
  background-color: #FBD784;
  width: 72px;
  height: 2px;
}

button {
  background-color: unset;
  border: none;
  padding: 0;
}

.logo {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.background {
  background-color: #0B1D26;
  position: relative;
  z-index: -1;
}
.background .background-part {
  position: absolute;
}
.background .HG {
  top: 0;
}
.background .MG {
  top: 464px;
}
.background .VG {
  top: 768px;
}
.background .BG-Content {
  top: 1200px;
}
.background .BG-Hero {
  top: 0;
}

.foreground {
  position: absolute;
  top: 0;
}
.foreground .header {
  position: absolute;
  left: 80px;
  top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1760px;
  height: 25px;
}
.foreground .header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
  font-family: "GliroyExtraBold";
  font-size: 18px;
  line-height: 22px;
}
.foreground .header .profile button {
  color: #FFFFFF;
  background-color: unset;
  border: none;
  font-family: "GliroyExtraBold";
  font-size: 17px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.foreground .social {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  top: 359px;
  left: 80px;
  font-family: "GliroyExtraBold";
  font-size: 18px;
  line-height: 22px;
}
.foreground .social span {
  writing-mode: vertical-lr;
}
.foreground .title-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 950px;
  height: 310px;
  top: 287px;
  left: 500px;
  gap: 32px;
}
.foreground .title-card div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  color: #FBD784;
  font-family: "GliroyExtraBold";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
}
.foreground .title-card div:nth-child(2) {
  font-family: "ChronicleDisplaySemibold";
  font-size: 88px;
  line-height: 100px;
}
.foreground .title-card div:last-child button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-family: "GliroyExtraBold";
  color: #FFFFFF;
  width: 126px;
  height: 24px;
}
.foreground .progress-bar-container {
  position: absolute;
  top: 326px;
  left: 1763px;
}
.foreground .progress-bar {
  display: flex;
  gap: 32px;
  position: fixed;
  height: 240px;
}
.foreground .progress-bar .steps {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "GliroyExtraBold";
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}
.foreground .progress-bar .indicator {
  background-color: #FFFFFF;
  opacity: 0.5;
  width: 3px;
  height: 240px;
}
.foreground .progress-bar .indicator-line {
  background-color: #FFFFFF;
  width: 3px;
  height: 0;
  z-index: 3;
  position: relative;
  right: 35px;
}
.foreground .content-container {
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: 1462px;
  position: absolute;
  top: 1440px;
  left: 229px;
}
.foreground .content-container .card-container {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.foreground .content-container .card-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 114px;
  height: 720px;
  position: relative;
}
.foreground .content-container .card-container .card .text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 632px;
  padding-left: 150px;
}
.foreground .content-container .card-container .card .text div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  color: #FBD784;
  font-family: "GliroyExtraBold";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
}
.foreground .content-container .card-container .card .text div:nth-child(2) {
  width: 555px;
  font-family: "ChronicleDisplaySemibold";
  font-size: 64px;
  line-height: 77px;
}
.foreground .content-container .card-container .card .text div:nth-child(3) {
  width: 632px;
  font-family: "GliroyExtraBold";
  font-size: 18px;
  line-height: 32px;
}
.foreground .content-container .card-container .card .text div:nth-child(4) a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  color: #FBD784;
  font-family: "GliroyExtraBold";
}
.foreground .content-container .card-container .card .text .number {
  position: absolute;
  left: 0%;
  right: 83.58%;
  top: -100px;
  bottom: 61.39%;
  font-family: "GliroyExtraBold";
  font-size: 240px;
  line-height: 240px;
  opacity: 0.1;
  z-index: -1;
  width: 240px;
  height: 240px;
}
.foreground .content-container .card-container .card:nth-child(even) {
  flex-direction: row-reverse;
}
.foreground .content-container .footer-container {
  display: flex;
  width: 1462px;
  margin-bottom: 120px;
}
.foreground .content-container .footer-container div:first-child div:nth-child(2) {
  font-family: "GliroyExtraBold";
  width: 303px;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 0;
  margin: 24px 0 122px 0;
}
.foreground .content-container .footer-container div:first-child div:nth-child(3) {
  font-family: "GliroyLight";
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
  color: #FFFFFF;
  margin-left: 0;
  width: 348px;
}
.foreground .content-container .footer-container div:not(:first-child) {
  color: #FBD784;
  font-family: "GliroyExtraBold";
  font-size: 24px;
  line-height: 32px;
}
.foreground .content-container .footer-container div:nth-child(2) {
  margin-left: 547px;
}
.foreground .content-container .footer-container div:nth-child(3) {
  margin-left: 212px;
}
.foreground .content-container .footer-container ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}
.foreground .content-container .footer-container ul li {
  font-family: "GliroyLight";
  font-size: 18px;
  line-height: 32px;
}/*# sourceMappingURL=index.css.map */