// fonts
$GliroyExtraBold: 'GliroyExtraBold';
$GliroyLight: 'GliroyLight';
$ChronicleDisplayBlack: 'ChronicleDisplayBlack';
$ChronicleDisplayLightItalic: 'ChronicleDisplayLightItalic';
$ChronicleDisplayRoman: 'ChronicleDisplayRoman';
$ChronicleDisplaySemibold: 'ChronicleDisplaySemibold';

// colors
$white: #FFFFFF;
$accent: #FBD784;
$BG: #0B1D26;